@model List<HomeWork.Models.Produce>
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm())
{
    <div class="panel-heading">
        <div class="table-bordered">
            <h2>第一次回家作業</h2>
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(c => c.FirstOrDefault().Type, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.EnumDropDownListFor(c => c.FirstOrDefault().Type, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(c => c.FirstOrDefault().Money, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBox("Money",null, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(c => c.FirstOrDefault().Date, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBox("Date", null, new { @class = "form-control", data_date = "data-date" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(c => c.FirstOrDefault().Note, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBox("Note", null, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group" style="text-align:center;">
                    <button class="btn btn-primary" type="submit">送出</button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="alert-info">
                    <th>#</th>
                    <th>類別</th>
                    <th>日期</th>
                    <th>金額</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 1; }
                @foreach (var data in Model)
            {
            <tr>
                <td>@(i++)</td>
                <td>@data.Type</td>
                <td>@data.Date.ToString("yyyy-MM-dd")</td>
                <td>@data.Money</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
                    }